<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Create Account</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .step-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .step {
            display: none;
        }

        .error-message {
            color: red;
        }

        button {
            @apply py-2 px-4 mt-4;
        }
    </style>
</head>

<body class="bg-gray-100">

<form class="step-container" id="signup-form" method="post" th:action="@{/authentication/sign-up}"
      th:object="${account}">

    <!-- Personal Information -->
    <div class="step bg-white p-8 rounded shadow-md w-96" id="step-1">
        <h2 class="text-2xl mb-4">Step 1: Personal Information</h2>

        <label class="block mb-2" for="firstname">First Name:</label>
        <input class="w-full border p-2 mb-4" id="firstname" th:field="${account.userInformation.firstName}"
               type="text">
        <span class="error-message" th:errors="*{userInformation.firstName}"
              th:if="${#fields.hasErrors('userInformation.firstName')}"></span>

        <label class="block mb-2" for="lastname">Last Name:</label>
        <input class="w-full border p-2 mb-4" id="lastname" th:field="${account.userInformation.lastName}" type="text">
        <span class="error-message" th:errors="*{userInformation.lastName}"
              th:if="${#fields.hasErrors('userInformation.lastName')}"></span>

        <label class="block mb-2" for="birthdate">Birthdate:</label>
        <input class="w-full border p-2 mb-4" id="birthdate" th:field="${account.userInformation.birthDate}"
               type="date">
        <span class="error-message" th:errors="*{userInformation.birthDate}"
              th:if="${#fields.hasErrors('userInformation.birthDate')}"></span>

        <button class="w-full bg-blue-500 text-white border border-gray-300 text-white font-bold py-2 px-4 mb-4 rounded-full flex items-center justify-center font-bold py-2 px-4 mb-4 rounded-full"
                type="submit">
            Next
        </button>
    </div>

    <!-- Contact Information -->
    <div class="step bg-white p-8 rounded shadow-md w-96" id="step-2">
        <h2 class="text-2xl mb-4">Step 2: Contact Information</h2>

        <label class="block mb-2" for="email">Email:</label>
        <input class="w-full border p-2 mb-4" id="email" th:field="${account.contactInformation.email}" type="email">
        <span class="error-message" th:errors="*{contactInformation.email}"
              th:if="${#fields.hasErrors('contactInformation.email')}"></span>

        <label class="block mb-2" for="phone">Phone:</label>
        <input class="w-full border p-2 mb-4" id="phone" th:field="${account.contactInformation.phone}" title="A valid phone number should start with a plus sign followed by the country code. The country code is 1 to 2 digits and can be followed by an optional space. After the country code, there can be an optional space. The main part of the phone number consists of 9 to 12 digits."
               type="tel">
        <span class="error-message" th:errors="*{contactInformation.phone}"
              th:if="${#fields.hasErrors('contactInformation.phone')}"></span>

        <label class="block mb-2" for="mobile">Mobile:</label>
        <input class="w-full border p-2 mb-4" id="mobile" th:field="${account.contactInformation.mobile}" type="tel">
        <span class="error-message" th:errors="*{contactInformation.mobile}"
              th:if="${#fields.hasErrors('contactInformation.mobile')}"></span>

        <div class="flex flex-row space-x-2">
            <button class="w-full bg-gray-500 border border-gray-300 text-white font-bold py-2 px-4 mb-4 rounded-full flex items-center justify-center"
                    type="button">
                Previous
            </button>
            <button class="w-full bg-blue-500 border border-gray-300 text-white font-bold py-2 px-4 mb-4 rounded-full flex items-center justify-center"
                    type="submit">
                Next
            </button>
        </div>

    </div>

    <!-- Location Information -->
    <div class="step bg-white p-8 rounded shadow-md w-96" id="step-3">
        <h2 class="text-2xl mb-4">Step 2: Location Information</h2>

        <label class="block mb-2" for="country">Country:</label>
        <input class="w-full border p-2 mb-4" id="country" th:field="${account.locationInformation.country}"
               type="text">
        <span class="error-message" th:errors="*{locationInformation.country}"
              th:if="${#fields.hasErrors('locationInformation.country')}"></span>

        <label class="block mb-2" for="city">City:</label>
        <input class="w-full border p-2 mb-4" id="city" th:field="${account.locationInformation.city}" type="text">
        <span class="error-message" th:errors="*{locationInformation.city}"
              th:if="${#fields.hasErrors('locationInformation.city')}"></span>

        <label class="block mb-2" for="street">Street:</label>
        <input class="w-full border p-2 mb-4" id="street" th:field="${account.locationInformation.street}" type="text">
        <span class="error-message" th:errors="*{locationInformation.street}"
              th:if="${#fields.hasErrors('locationInformation.street')}"></span>

        <label class="block mb-2" for="address">Address:</label>
        <input class="w-full border p-2 mb-4" id="address" th:field="${account.locationInformation.address}"
               type="text">
        <span class="error-message" th:errors="*{locationInformation.address}"
              th:if="${#fields.hasErrors('locationInformation.address')}"></span>

        <div class="flex flex-row space-x-2">
            <button class="w-full bg-gray-500 border border-gray-300 text-white font-bold py-2 px-4 mb-4 rounded-full flex items-center justify-center"
                    type="button">
                Previous
            </button>
            <button class="w-full bg-blue-500 border border-gray-300 text-white font-bold py-2 px-4 mb-4 rounded-full flex items-center justify-center"
                    type="submit">
                Next
            </button>
        </div>

    </div>

    <div class="step bg-white p-8 rounded shadow-md w-96" id="step-4">
        <h2 class="text-2xl mb-4">Step 3: Create Password</h2>

        <label class="block mb-2" for="username">Username:</label>
        <input class="w-full border p-2 mb-4" id="username" th:field="${account.signUpInformation.username}"
               type="text">
        <span class="error-message" th:errors="*{signUpInformation.username}"
              th:if="${#fields.hasErrors('signUpInformation.username')}"></span>


        <label class="block mb-2" for="password">Password:</label>
        <input class="w-full border p-2 mb-4" id="password" th:field="${account.signUpInformation.password}"
               type="password">
        <span class="error-message" th:errors="*{signUpInformation.password}"
              th:if="${#fields.hasErrors('signUpInformation.password')}"></span>

        <label class="block mb-2" for="confirm-password">Confirm Password:</label>
        <input class="w-full border p-2 mb-4" id="confirm-password" th:field="${account.signUpInformation.confirmPassword}"
               type="password">
        <span class="error-message" th:errors="*{signUpInformation.confirmPassword}"
              th:if="${#fields.hasErrors('signUpInformation.confirmPassword')}"></span>

        <div class="flex flex-row space-x-2">
            <button class="w-full bg-gray-500 border border-gray-300 text-white font-bold py-2 px-4 mb-4 rounded-full flex items-center justify-center"
                    type="button">
                Previous
            </button>
            <button class="w-full bg-blue-500 border border-gray-300 text-white font-bold py-2 px-4 mb-4 rounded-full flex items-center justify-center"
                    type="submit">
                Next
            </button>
        </div>

    </div>

</form>
</body>
<script>
    // JavaScript for handling form steps
    document.addEventListener("DOMContentLoaded", function () {
        const form = document.getElementById("signup-form");
        const steps = form.querySelectorAll(".step");
        let currentStep = 1;

        function showStep(stepNumber) {
            steps.forEach((step) => {
                step.style.display = "none";
            });

            const currentStepElement = form.querySelector(`#step-${stepNumber}`);
            if (currentStepElement) {
                currentStepElement.style.display = "block";
            }
        }

        function navigateToNextStep() {
            if (currentStep < steps.length) {
                currentStep++;
                showStep(currentStep);
            }
        }

        function navigateToPreviousStep() {
            if (currentStep > 1) {
                currentStep--;
                showStep(currentStep);
            }
        }

        // Add event listeners to the Next and Previous buttons
        form.addEventListener("submit", function (event) {
            // Prevent the form from submitting for this example
            event.preventDefault();
            // You can add your form submission logic here
        });

        const nextButton = form.querySelector('[type="submit"]');
        const previousButton = form.querySelector('[type="button"]');

        nextButton.addEventListener("click", navigateToNextStep);
        previousButton.addEventListener("click", navigateToPreviousStep);

        // Show the initial step
        showStep(currentStep);
    });
</script>
</html>
